@import "sections/menu.css";
@import "sections/home.css";
@import "sections/grid.css";
@import "sections/btn.css";
@import "sections/staff.css";
@import "sections/footer.css";

section#home{
  width: 100%;
  background: url('../resources/media/images/imgseven.png');
  background-size: cover;
  background-position: center;
  background-color: #EA1E53;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  padding: 220px 0;
}

#videobg{
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 1200px;
}

section#home .col-1{
  max-width: 960px;
}

#staff_sub{
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.heading{
  font-size: 9.5rem;
  transition: font-size .1s ease-in-out;
}

@media (max-width: 886px){
  .heading{
    font-size: 3.1rem;
    transition: font-size .1s ease-in-out;
  }
}

// Section Dual

section#dual{
}

#suporte{
  color: #fff;
  width: 100% !important;
}

#loja{
  color: #fff;
  width: 100%;
}

.big{
  font-size: 3.2rem;
  line-height: 3.8rem;
}

#col-loja{
  padding: 50px 0;
  background: url("../resources/media/images/imgseven.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

#col-sup{
  padding: 50px 0;
  background: url("../resources/media/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#col-blog{
  padding: 50px 0;
  background: url("../resources/media/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#col-downloads{
  padding: 50px 0;
  background: url("../resources/media/images/imgseven.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#suporte, #loja, #blog, #downloads{
  text-align: center;
}

.col-50 .col-1{
  max-width: 490px;
  width: 100%;
  margin: 0 auto;
}

// Dual_blog_downloads

#col-blog, #col-downloads{
  padding: 90px 0;
  text-align: center;
}

#blog, #downloads{
  text-align: center;
  margin: 0 auto;
}

#col-blog{
  padding: 40px 0;
  background: url("../resources/media/images/background.jpg");
  background-color: #1961E5;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

#col-downloads{
  padding: 30px 0;
  background: url("../resources/media/images/imgseven.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1FE78B;
  color: #fff;
}

footer#mob_footer{
  background: #000;
  text-align: center;
}

footer#mob_footer .col-2{
  margin: 0;
  padding: 20px 0;
}

// STAFF PAGE

#staffpage{
  text-align: center;
}

#staffpage section{
}

#direcao{
  background: #450ED0;
}

#sub_direcao{
  background: #21DB8E;
}

#admin{
  background: #EB082D;
}

#mod{
  background: #22B8E9;
}

#direcao, #sub_direcao, #admin, #mod{
  text-align: center;
  padding: 120px 0;
  color: #fff;
  font-size: 1.6rem;
}

#direcao, #sub_direcao, #admin, #mod .col-3{
  padding: 105px 0;
}

// GLOBAL MEDIA

@media (max-width: 886px){
  section#home{
    padding: 80px 0;
  }

  #blog, #downloads{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  section#ft #footer_dsk{
    display: none;
  }

  #mob_footer .col-2{
    margin: 0;
    padding: 20px 0;
    text-align: center;
  }
}

@media (max-width: 886px){
  .big{
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}