@import "sections/menu.css";
@import "sections/home.css";
@import "sections/grid.css";
@import "sections/btn.css";
@import "sections/staff.css";

section#home{
  width: 100%;
  background: url('../resources/media/images/imgseven.png');
  background-size: cover;
  background-position: center;
  background-color: #EA1E53;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
}

section#home .col-1{
  max-width: 960px;
  padding: 225px 0;
}

#staff_sub{
  font-size: 1.5rem;
  line-height: 1.8rem;
}

section#home .heading{
  font-size: 9.5rem;
}

@media (max-width: 886px){

}

// Section Dual

section#dual{
}

#suporte{
  color: #fff;
  text-align: center;
  width: 100%;
}

#loja{
  color: #fff;
  width: 100%;
  text-align: center;
}

.big{
  font-size: 3.2rem;
  line-height: 3.8rem;
}

#col-loja{
  padding: 90px 0;
  background: url("../resources/media/images/imgseven.png");
}

#col-sup{
  padding: 50px 0;
  background: url("../resources/media/images/background.jpg");
}

.col-50 .col-1{
  max-width: 490px;
  width: 100%;
  margin: 0;
}
