@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,400,400italic,700,700italic);

::selection{
  background: #000;
  color: #fff;
}

body{
  background: #ffffff;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1em;
  color: #999;
  font-weight: 400;
  box-sizing: border-box;
}

h1{line-height: 2.4rem;}

.read{
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.3rem;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

a{
  text-decoration: none;
  color: #2284DF;
}

a:hover{
  text-decoration: underline;
}