.btn, a.btn{
  background: transparent;
  border: none;
  color: #fff;
  padding: 15px 30px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  outline: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 10px 0;
  transition: all .1s ease-in-out;
}

.btn.dft{
  border-radius: 100px;
}

.btn.full{
  background: #ffffff;
  color: #000000;
}

.btn.full:hover{
  background: #0F0F0F;
  color: white;
}

.btn.sharp{
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 10px;
}

.btn.sharp:hover{
  border-color: black;
  background: black;
}

.btn.dft:hover{
  background: rgba(255,255,255,.1);
}