header#menu, header.dsk{
  width: 100%;
  font-size: 1.1rem;
  background: rgb(0,0,0);
}

header#menu, header.dsk nav{
  padding: 8px 25px;
  box-sizing: border-box;
  width: 100%;
}

header#menu, header.dsk nav ul{
  list-style: none;
  display: inline-flex;
  float: right;
  text-transform: uppercase;
}

header#menu, header.dsk nav ul li{
  margin-right: 15px;
}

header#menu, header.dsk nav ul li a{
  color: #fff;
}

header#menu, header.dsk nav ul li:last-child{
  margin-right: 0;
}

.site_name{
  display: inline-flex;
  align-items: center;
  height: 100%;
  font-weight: 900;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 450px){
  header#menu, header.dsk{
    display: none;
    background: red;
  }
}