section#staff{
  padding: 0;
  text-align: center;
  background: #49107A;
}

.w{
  color: #DAD8D8;
}

.g{
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.skin{
  width: 120px;
  height: 120px;
}

section#staff a.btn{
  margin: 0 50px;
}

@media (max-width: 886px){
  section#staff img{
    display: none;
  }
  section#staff{
    padding: 20px 0;
  }

  section#ft #footer_dsk{
    display: none;
  }

  .staffhbig{
    font-size: 2.1rem;
    margin: 20px;
  }
}